.main {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    max-height: 90vh;
}

.main h1 {
    padding-left: 7%;
    color: white;
    text-align: right !important;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 2em;


}


.recomended-artists {
    width: 100vw;
    padding-top: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 5%;
}



.container {
    padding-top: 2em;
    height: 25em;
    width: 25em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  
  
  .recomended-artists h1 {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 8px;
    color: white;
  }
  
  .block img {
    width: 90%;
    transform: rotate(0deg);
    transition: all 3s;
    height: 90%;
    position: absolute;
    z-index: 100;
    opacity: 1;
    z-index: 200;
    border: 0px solid;
    border-radius: 50%;
    box-shadow: 1px 1px 15px 2px rgba(0,0,0, 0.4);
  }
  .artist-name h1 {
      width: 100%;
      padding-top: 4%;
      text-align: center !important;
  }  

.artist-name {
    text-align: center;
    width: 100%;
}

  .block {
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
    height: 18em;
    width: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    margin: 3%;
    transition: all 1s;
    filter: brightness(100%) hue-rotate(0deg);
    transform: rotate(0deg);
    transition: all 3s;
  }

  
  /* 
  .block:hover {
    transform: rotate(-90deg);
    
  }

.block img:hover {
    transform: rotate(90deg);
    
  }
  
  .block:hover img {
    transform: rotate(90deg);
    
  } */
  
  .inner1 {
    width: 15em;
    height: 15em;
    border-radius: 0%;
    border-bottom-right-radius: 45%;
    border-top-left-radius: 45%;
    transform: rotate(90deg);
    position: absolute;
    opacity: 1;
    top: -2em;
    left: -2em;
    background: rgba(0,0,0, 0.3);
    
  }
  
  
  .inner4 {
    background: black;
    width: 6em;
    height: 6em;
    border-radius: 0%;
    position: absolute;
    top: 6em;
    left: 20em;
    opacity: 1;
  }
  
  .inner5 {
    background: black;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position: absolute;
    bottom: 2em;
    left: 3em;
    opacity: 1;
  }

  .inner2 {
    background: black;
    width: 40em;
    height: 10em;
    border-radius: 0%;
    position: absolute;
    bottom: 12em;
    left: -6em;
    transform: rotate(-45deg);
    opacity: 1;
    z-index: 100;
  }
  
  .inner3 {
    background: black;
    width: 40em;
    height: 10em;
    border-radius: 0%;
    position: absolute;
    top: 11em;
    left: -7em;
    transform: rotate(45deg);
    opacity: 1;
    z-index: 100;
  }


  .favorites-title .btn {
      padding: .15em 1em .15em 1em;
      margin: 0;
      margin-right: 1%;
      border-radius: 10px !important;
      border: 1px solid white !important;
  }

  .favorites-title .btn:hover {
      transform: scale(1.02);
  }
  .favorites-title .btn:active {
    transform: scale(.95);
}

  .btn-section {
      width: 20%;
      margin-right: 5%;
  }

  .favorites-title h1 {
      margin: 0;
      padding: 0;
  }

  .favorites-title {
      width: 87%;
      margin-left: 5%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }

.block:hover .artist-hover-state  {
    opacity: 1;
    transition: all 1s;
}

.block .artist-hover-state {
    position: absolute;
    z-index: 2000;
    opacity: 0;
    transition: all 1s;
}
  
  
  
  .inner6 {
    background: black;
    width: 15em;
    height: 15em;
    border-radius: 5%;
    position: absolute;
    bottom: -3em;
    right: -3em;
    opacity: 1;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 45%;
    z-index: 10;
  }
  
  @-webkit-keyframes rotate {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes rotate {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes rotate { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }



.triangle-holder {
    overflow: hidden;
}

.playlist:hover .artist-hover-state {
    opacity: 1;
    transition: all .6s;
}

.playlist .artist-hover-state {
    position: absolute;
    z-index: 3000;    
    border-radius: 5px;
    height: 75%;
    width: 95%;
    top: 5%;
    transition: all .6s;
}


.playlist {
    cursor: pointer;
    height: 26em;
    width: 24em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin: .5%;
    margin-top: .5%;
    transition: all 1s;
    overflow: hidden;
    box-shadow: 1px 1px 20px 1px rgba(255,255,255, .0); 
    filter: brightness(100%) hue-rotate(0deg);
  }
  
  

  .playlist-cover {
      width: 100%;
      height: 20%;
      position: absolute;
      z-index: 990;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: rgba(0,0,0, .1)
  }

  .playlist-cover h1 {
      font-size: 1em;
      letter-spacing: 3px;
      line-height: 170%;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 300;
  }

  .playlist-cover h3 {
    font-size: 1.1em;
    line-height: 200%;
    font-weight: 200;
    text-align: center;
    color: rgba(255,255,255, .7);
}
  
  .playlist img {
    width: 95%;
    border: 2px solid rgba(0,0,0, .1);
    height: 75%;
    top: 5%;
    filter: brightness(80%) grayscale(20%) contrast(120%) ;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 1px rgba(255,255,255, 0.3);
  }
  
  .triangle-left {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 32em;
    border-left-width: 10em;
    border-bottom: 20em solid rgba(0,255,0, .6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    transition: all 1s;
    transform: rotate(138deg);
    border-radius: 10px;
  }
  
  .triangle-right {
    transform: rotate(135deg);
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 40em;
    border-right-width: 0px;
    border-top: 30em solid rgba(255,255,255, 1);
    position: relative;
    top: 0;
    z-index: 24;
    border-radius: 0%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
